<!DOCTYPE html>
<html>

<head>
    <title>List of URLs</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/Category.css">
    <link rel="stylesheet" href="/css/Header.css">
</head>

<body>
    <header class="header">
        <div class="home-lab-index">
            <h1>
                <i class="fa fa-home"></i> Home Lab Index
            </h1>
        </div>
        <div class=" btn-container">
            <button onclick="window.location.href='/view/home'">Add Link</button>
            <button onclick="window.location.href='/view/indexes'">Indexes</button>
            <button onclick="window.location.href='/view/setting'">Settings</button>
        </div>
    </header>
    <div class="select-container">
        <label for="category-dropdown">Select category:</label>
        <select id="category-dropdown">
            <% categories.forEach((category)=> { %>
                <option value="<%= category %>">
                    <%= category %>
                </option>
                <% }); %>
        </select>
    </div>

    <table id="url-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Key</th>
                <th>Website Links</th>
                <th>Category</th>
                <!-- <th>Expiry Date</th> -->
                <th>Created Timestamp</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>



</body>

<script type="application/javascript" src="/js/CategoryHelper.js"></script>

</html>