body {
    font-family: 'Poppins' , serif;
    background-color: #f2f2f2;
    margin: 0%;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 4%;
}

.select-container label {
    margin-right: 10px;
}

.select-container select {
    font-size: 16px;
    padding: 5px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

th {
    background-color: #3772FF;
    color: white;
}

tr:hover {
    background-color: #E6E8E6;
}