body {
  font-family: 'Poppins' , serif;
  background-color: #f2f2f2;
  margin: 0%;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 40px;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #313131;
}

.description{
  display: flex;
  justify-content: center;
  
  align-items: flex-start;
  flex-direction: row;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

label i {
  padding-right: 7px;
}
input[type="text"],
input[type="url"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #3772FF;
  color: #ffffff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3762FF;
}

.button {
  display: inline;
  background-color: #3772FF;
  color: #ffffff;
  margin-top: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #3762FF;
}


.icon {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  margin-bottom: -5px;
}

.result-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 20px;
}

.icon-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-label i {
  margin-right: 10px;
}

/* Style the dropdown */
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #E6E8E6;
  border-radius: 4px;
  box-sizing: border-box;

}

/* Style the selected option */
select option:checked {
  background-color: #3772FF; /* set secondary background color */
  color: #E6E8E6; /* set text color to black */
}

