body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* #category-dropdown {
    font-size: 16px;
    padding: 5px;
    margin: 20px auto;
    display: block;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  } */

  .select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.select-container label {
    margin-right: 10px;
}

.select-container select {
    font-size: 16px;
    padding: 5px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}